<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {current: :product_sale_price_tab} %>

<%= csrf_meta_tag %>
<div id="add-line-item">
  <fieldset>
    <legend><%= Spree.t('add_product_sale_prices') %>

    </legend>
    <%= form_for [:admin, @product, Spree::SalePrice.new], remote: true do |f| %>
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <%= label_tag Spree.t('original_price') %>
            <%= text_field_tag '', @product.original_price.to_f, disabled: true, class: "form-control" %>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :value, Spree.t('sale_price_amount') %>
            <%= f.text_field :value, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :currency, Spree.t('sale_price_currency') %>
            <%= f.select :currency, options_for_select(supported_currencies_for_sale_price), {}, class: "form-control" %>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.label :start_at, Spree.t('sale_price_start_at') %>
            <%= f.text_field :start_at, class: "datepicker form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :end_at, Spree.t('sale_price_end_at') %>
            <%= f.text_field :end_at, class: "datepicker form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= f.submit Spree.t('add_product_sale_prices'), class: 'btn btn-success' %>

          </div>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>
<div id="product-sale-prices-table">
  <%= render partial: "table", locals: {product: @product} %>
</div>
